@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.dark-gradient-text {
    background: linear-gradient(45deg, #ff9f00, #ff0044, #0099ff, #00ff6f, #ff66cc);
    background-size: 300% 300%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientAnimation 6s ease infinite;
}


.light-gradient-text {
    background: linear-gradient(45deg, #ff7b7b, #ff77ff, #7a87ff, #57f7f7, #ff7bff);
    background-size: 300% 300%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientAnimation 6s ease infinite;
}